---
---
@import "minima";

.site-header{
  background-color:#4185c4;
}
.site-footer {
    border-top: 1px solid #e8e8e8;
    padding: 10px 0;
    background-color:#4185c4;
}
.footer-col-wrapper {
    display: flex;
    justify-content: space-evenly;
    font-size: 15px;
    color: #fff;
    margin-left: -15px;
}
.footer-heading {
    font-size: 18px;
    margin-bottom: 15px;
    color: #fff;
}

.site-footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
