---
---
@import "minima";

.site-header{
  background-color:#4185c4;
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  align-items: flex-start;
  gap: 10px
}
.site-footer {
    display: flex;
    flex-direction: row;
    border-top: 1px solid #e8e8e8;
    padding: 10px 0;
    background-color:#4185c4;
    justify-content: center;
}

.layout-left{
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: flex-start;
  float: right;
}
.layout-right{
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: flex-start;
  float: right;
}


